{{#if passwordWasSet}}
  {{#nypr-account-forms/login
    siteName=siteName
    showSocialLogin=false
    authAPI=authAPI
    session=session}}
  {{/nypr-account-forms/login}}

{{else}}

  {{#nypr-form changeset=changeset allowedKeys=allowedKeys onSubmit=(action 'onSubmit') onSuccess=(action 'onSuccess') formClass='account-form' as |form|}}
    {{#if codeExpired}}
      <h2 class="account-form-heading">Oops!</h2>

      <p class="account-form-description">
      The link to create a password has expired. Click below to resend, and we'll provide a new link.</p>

    {{else}}
      <h2 class="account-form-heading">Create a password</h2>

      <p class="account-form-description">Create a {{siteName}} password for {{email}}.</p>

      {{nypr-input
        label='New Password'
        type='password'
        placeholder='Enter password'
        fieldname='password'
        value=changeset.password
        errors=changeset.error.password.validation
        submitted=form.status.tried
      clue=(if changeset.error.password 'must be at least 8 characters and 1 number')
      }}

      <button type="submit" class="account-form-btn" disabled={{form.status.processing}}>Create password</button>
    {{/if}}
  {{/nypr-form}}
{{/if}}
