{{#nypr-card class="nypr-basic-info" as |card|}}

  {{#card.header as |header|}}
    {{header.title text="Personal Info"}}
    {{header.button
      class="nypr-card-edit-btn"
      click=(action 'toggleEdit')
      text=(if isEditing 'Cancel' 'Edit')}}
  {{/card.header}}

  <form disabled={{not isEditing}} {{action (perform save changeset) on='submit'}}>
  {{#unless isEditing}}
    {{nypr-input
      label='Name'
      fieldname='fullName'
      value=(concat changeset.givenName ' ' changeset.familyName)
      disabled=true
    }}
  {{else}}
    {{nypr-input
      label='First Name'
      placeholder='Enter Name'
      fieldname='givenName'
      value=changeset.givenName
      errors=changeset.error.givenName.validation
    }}
    {{nypr-input
      label='Last Name'
      placeholder='Enter Name'
      fieldname='familyName'
      value=changeset.familyName
      errors=changeset.error.familyName.validation
    }}
  {{/unless}}

  {{nypr-input
    label='Public Handle<span> (visible when you comment on the site)</span>'
    placeholder='publichandle'
    fieldname='preferredUsername'
    value=changeset.preferredUsername
    errors=changeset.error.preferredUsername.validation
    disabled=(not isEditing)
    onInput=(action onUsernameUpdate)
    validMark=true
    showError=true
  }}

  {{nypr-input
    label='Email'
    placeholder='you@email.com'
    fieldname='email'
    value=changeset.email
    errors=changeset.error.email.validation
    disabled=(not isEditing)
    onChange=(action onEmailChange)
    onInput=(action onEmailUpdate)
  }}
  {{#if (and emailIsPendingVerification (not isEditing))}}
    <div class="nypr-account-pending">pending verification</div>
  {{/if}}


  {{#if (and emailWasChanged isEditing)}}
    {{nypr-input
      label='Confirm Email'
      fieldname='confirmEmail'
      placeholder='Type your new email again'
      value=changeset.confirmEmail
      errors=changeset.error.confirmEmail.validation
      showError=true
    }}
  {{/if}}

  {{#if isEditing}}
  <div class="nypr-account-footer">
    <div class="nypr-account-footer-wrapper">
      <button
        class="nypr-account-cancel"
        data-test-selector="rollback"
        type="button"
        {{action 'rollback' changeset}}>Cancel</button>

      <button
        class="nypr-account-confirm"
        data-test-selector="save"
        disabled={{or changeset.isPristine changeset.isInvalid}}
        type="submit">Save</button>
    </div>
  </div>
  {{/if}}
  </form>
{{/nypr-card}}

{{#if promptForPassword.isRunning}}
  {{#nypr-account-modal title="Re-enter Your Password" closeAction=(action 'closeModal') as |m|}}
    <form {{action (perform verifyPassword) on='submit'}}>
    {{#m.body}}
    <p>
      You must re-enter your password to make changes to your email. The email you are changing is the one you use to log into the site.
    </p>
    {{nypr-input
      label='Password'
      type='password'
      fieldname='passwordForEmailChange'
      placeholder='Enter your password'
      value=password
      helplinkUrl="/forgot"
      helplinkText="Forgot Password?"
      errors=passwordError
      showError=true
    }}
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-confirm"
        data-test-selector="check-pw"
        >Submit</button>
    {{/m.footer}}
    </form>
  {{/nypr-account-modal}}
{{/if}}
