{{#nypr-card class="nypr-basic-info" as |card|}}

  {{#card.header as |header|}}
    {{header.title text="My Online Account"}}
    {{header.button
      class="nypr-card-edit-btn gtm__click-tracking"
      data-action="Personal Info"
      data-label=(if isEditing 'Cancel Edit Info' 'Edit Info')
      click=(action 'toggleEdit')
      text=(if isEditing 'Cancel' 'Edit')}}
  {{/card.header}}

  <form disabled={{not isEditing}} {{action (perform save changeset) on='submit'}}>
  {{#unless isEditing}}
    {{nypr-input
      label='Name'
      fieldname='fullName'
      value=(concat changeset.givenName ' ' changeset.familyName)
      disabled=true
    }}
  {{else}}
    {{nypr-input
      label='First Name'
      placeholder='Enter Name'
      fieldname='givenName'
      value=changeset.givenName
      errors=changeset.error.givenName.validation
    }}
    {{nypr-input
      label='Last Name'
      placeholder='Enter Name'
      fieldname='familyName'
      value=changeset.familyName
      errors=changeset.error.familyName.validation
    }}
  {{/unless}}

  {{nypr-input
    label='Public Handle<span> (visible when you comment on the site)</span>'
    placeholder='publichandle'
    fieldname='preferredUsername'
    value=changeset.preferredUsername
    errors=changeset.error.preferredUsername.validation
    disabled=(not isEditing)
    onInput=(action onUsernameUpdate)
    validMark=true
    showError=true
  }}

  {{nypr-input
    label='Email'
    placeholder='you@email.com'
    fieldname='email'
    value=changeset.email
    errors=changeset.error.email.validation
    disabled=(not isEditing)
    onChange=(action onEmailChange)
    onInput=(action onEmailUpdate)
  }}
  {{#if (and emailIsPendingVerification (not isEditing))}}
    <div class="nypr-account-pending">pending verification</div>
  {{/if}}


  {{#if (and emailWasChanged isEditing)}}
    {{nypr-input
      label='Confirm Email'
      fieldname='confirmEmail'
      placeholder='Type your new email again'
      value=changeset.confirmEmail
      errors=changeset.error.confirmEmail.validation
      showError=true
    }}
  {{/if}}

  {{#if isEditing}}
  <div class="nypr-account-footer">
    <div class="nypr-account-footer-wrapper">
      <button
        class="nypr-account-cancel gtm__click-tracking"
        data-action="Personal Info"
        data-label="Cancel Edit Info"
        data-test-selector="rollback"
        type="button"
        {{action 'rollback' changeset}}>Cancel</button>

      <button
        class="nypr-account-confirm gtm__click-tracking"
        data-action="Personal Info"
        data-test-selector="save"
        disabled={{or changeset.isPristine changeset.isInvalid}}
        type="submit">Save</button>
    </div>
  </div>
  {{/if}}
  </form>
{{/nypr-card}}

{{#if promptForPassword.isRunning}}
  {{#nypr-account-modal title="Re-enter Your Password" closeAction=(action 'endTask' 'promptForPassword') as |m|}}
    <form {{action (perform verifyPassword) on='submit'}}>
    {{#m.body}}
    <p>
      You must re-enter your password to make changes to your email. The email you are changing is the one you use to log into the site.
    </p>
    {{nypr-input
      label='Password'
      type='password'
      fieldname='passwordForEmailChange'
      placeholder='Enter your password'
      value=password
      helplinkUrl="/forgot"
      helplinkText="Forgot Password?"
      errors=passwordError
      showError=true
    }}
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-confirm gtm__click-tracking"
        data-action="Personal Info"
        data-label="Confirm Email Change"
        data-test-selector="check-pw"
        >Submit</button>
    {{/m.footer}}
    </form>
  {{/nypr-account-modal}}
{{/if}}

{{#if promptForEmail.isRunning}}
  {{#nypr-account-modal title="Enter Your Email" closeAction=(action 'endTask' 'promptForEmail') as |m|}}
    <form {{action (perform verifyEmail) on='submit'}}>
    {{#m.body}}
    <p>
      To edit your info, you need to create a {{siteName}} password. Enter your email and we'll send you a link to create the password.
    </p>
    {{nypr-input
      label='Email'
      type='email'
      fieldname='connectEmail'
      placeholder='you@email.com'
      value=connectEmailChangeset.email
      errors=connectEmailChangeset.error.email.validation
      showError=true
    }}
    {{nypr-input
      label='Confirm Email'
      type='email'
      fieldname='connectEmailConfirmation'
      placeholder='you@email.com'
      value=connectEmailChangeset.confirmEmail
      errors=connectEmailChangeset.error.confirmEmail.validation
      showError=true
    }}
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-confirm"
        data-test-selector="enter-email"
        type="submit"
        >Submit</button>
    {{/m.footer}}
    </form>
  {{/nypr-account-modal}}
{{/if}}

{{#if showCheckEmailModal.isRunning}}
  {{#nypr-account-modal title="Check Your Email" closeAction=(action 'endTask' 'showCheckEmailModal') as |m|}}
    <form {{action 'endTask' 'showCheckEmailModal' on='submit'}}>
    {{#m.body}}
      <p>
        We've sent an email to {{connectEmailChangeset.email}} with a link to create a {{siteName}} password. Once you create this password, you will be able to edit your information.
      </p>
      <p>
        Usually, the email is sent very quickly, but in rare circumstances it could take a minute or two.
      </p>
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-confirm"
        data-test-selector="got-it"
        {{action 'endTask' 'showCheckEmailModal'}}
        >Got it!</button>
    {{/m.footer}}
    </form>
  {{/nypr-account-modal}}
{{/if}}
