{{#unless showPaymentHistory}}
  {{#nypr-card classNames="nypr-membership-info" title="Membership Info" as |card|}}

    {{#card.header as |header|}}
      {{header.title text="Membership Info"}}
    {{/card.header}}

    {{!--
    Possible user states to handle:
    1. Active sustaining pledge (activeSustainingPledges)
    2. Active one-time pledge, e.g. donated within last year (activeOneTimePledges)
    3. Expired/declined sustaining pledge (isLapsedSustainer)
    4. Expired/lapsed one-time pledge (isLapsedOneTimeMember)
    5. Never pledged (isNonMember)
    --}}

    {{#if pledges.isPending}}
      {{animated-loading-icon color="#CCC" classNames="membership-loading-animation"}}
    {{/if}}

    {{#if pledges.isFulfilled}}
      <div class="pledge-order-info">

        {{#if hasMadeRecentPledge}}
          {{#nypr-notification}}
            <span>It looks like you have made a new donation or updated an existing donation. It can take up to 4 days for changes to be reflected below.</span>
          {{/nypr-notification}}
        {{/if}}

        {{#if activeSustainingPledges}}
          <h2 class="active-donations-header">Active Recurring Donations</h2>
          {{#each mostRecentSustainingPledgesPerOrderCode as |pledge|}}
            <div class="pledge-container">
              <div class="pledge-info-container">
                <div class="pledge-fund-name">
                  <div class="pledge-fund">{{pledge.fund}}</div>
                </div>
                <div class="pledge-info">
                  <div class="pledge-order-price">${{pledge.orderPrice}}{{if pledge.isSustainer ' / month' }}</div>
                  <div class="pledge-hyphen-separator">-</div>
                  <div class="pledge-order-cc-type">{{pledge.creditCardType}} {{pledge.creditCardLast4Digits}}</div>
                </div>
              </div>
              <div class="pledge-update-link">
                <a href="https://pledge3.wnyc.org/donate/membership-sustainer/sustainer/sustainer?order_id={{pledge.orderKey}}">Update</a>
              </div>
            </div>
          {{/each}}

        {{else if activeOneTimePledges}}
          <div class="pledge-active-onetime-member">
            <p class="last-pledge-date">You last donated on <span class="pledge-date">{{moment-format mostRecentPledge.orderDate 'MMMM D, YYYY'}}</span>.</p>
            <a class="pledge-donate-button-link" href="https://pledge3.wnyc.org/donate/membership-sustainer/sustainer/?order_id={{mostRecentPledge.orderKey}}" target="_blank">
              <p class="pledge-donate-button">Make another donation</p>
            </a>
          </div>

        {{else if isLapsedSustainer}}
          <div class="pledge-lapsed-sustainer">
            <p class="last-pledge-date">Your sustaining donations have expired.</p>
            <a class="pledge-donate-button-link" href="https://pledge3.wnyc.org/donate/membership-sustainer/sustainer/" target="_blank">
              <p class="pledge-donate-button">Become a member</p>
            </a>
          </div>

        {{else if isLapsedOneTimeMember}}
          <div class="pledge-active-onetime-member">
            <p class="last-pledge-date">It looks like you haven’t given since
              {{moment-format mostRecentPledge.orderDate 'MMM. D, YYYY'}}.  Take
              a moment to renew your membership right now!</p>
            <a class="pledge-donate-button-link"
                href="https://pledge3.wnyc.org/donate/membership-sustainer/sustainer/?order_id={{mostRecentPledge.orderKey}}"
                target="_blank">
              <p class="pledge-donate-button">Donate to renew</p>
            </a>
          </div>

        {{else}} {{! i.e. isNonMember }}
          <div class="pledge-non-member">
            <p class="last-pledge-date">Our records show you're not a member yet. How about changing that right now, and help pay for all of the great programming you hear on WNYC.</p>
            <a class="pledge-donate-button-link" href="https://pledge3.wnyc.org/donate/membership-sustainer/sustainer/" target="_blank">
              <p class="pledge-donate-button">Become a member</p>
            </a>
          </div>
        {{/if}}
      </div>
    {{/if}}

    <div class="pledge-tools">
      {{#if pledges}}
      <div class="pledge-payment-history"><span {{action (action (mut showPaymentHistory) (not showPaymentHistory))}}>Giving History</span></div>
      {{/if}}
      <div class="pledge-help-link"><span {{action (action (mut enableModal) true)}}>Help</span></div>

    </div>
  {{/nypr-card}}

{{else}}
  {{#nypr-card classNames="nypr-membership-info pledge-history" as |card|}}
    {{#card.header as |header|}}
      {{header.button
        class="nypr-card-edit-btn pledge-payment-history-back-button"
        click=(action (mut showPaymentHistory) false)
        text=(if showPaymentHistory 'Back' 'Back')}}
      {{header.title text="Giving History" classNames="pledge-history-title"}}
    {{/card.header}}
    {{#nypr-tabs selection=selection as |tabs|}}
      {{#tabs.tablist as |tablist|}}
        {{#tablist.tab "TabA" on-select=(action (mut selection))}}Sustaining donations{{/tablist.tab}}
        {{#tablist.tab "TabB" on-select=(action (mut selection))}}One-time donations{{/tablist.tab}}
      {{/tabs.tablist}}

      {{#tabs.tabpanel "TabA"}}
        {{#each sortedSustainingPledges as |pledge|}}
        <div class="pledge-container pledge-history-container">
          <div class="pledge-date">{{moment-format pledge.orderDate 'MMM D, YYYY'}}</div>
          <div class="pledge-fund-and-premium">
            <div>{{pledge.fund}}</div>
            <div class="pledge-premium">{{pledge.premium}}</div>
          </div>
          <div class="pledge-order-price">${{pledge.orderPrice}}</div>
          <div class="recurring-label">{{if pledge.isSustainer 'Sustaining' 'One-time'}}</div>
        </div>
        {{/each}}
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "TabB"}}
        {{#each sortedOneTimePledges as |pledge|}}
        <div class="pledge-container pledge-history-container">
          <div class="pledge-date">{{moment-format pledge.orderDate 'MMM D, YYYY'}}</div>
          <div class="pledge-fund-and-premium">
            <div>{{pledge.fund}}</div>
            <div class="pledge-premium">{{pledge.premium}}</div>
          </div>
          <div class="pledge-order-price">${{pledge.orderPrice}}</div>
          <div class="recurring-label">{{if pledge.isSustainer 'Sustaining' 'One-time'}}</div>
        </div>
        {{/each}}
      {{/tabs.tabpanel}}

    {{/nypr-tabs}}
    <div class="pledge-tools">
      <div class="pledge-help-link"><span {{action (action (mut enableModal) true)}}>Help</span></div>
    </div>

  {{/nypr-card}}
{{/unless}}

{{#if enableModal}}
  {{#nypr-account-modal title="Membership Help" closeAction=(action (mut enableModal) false) as |m|}}
    {{#m.body}}
    <p>
      If you've donated but don't see your donation info here, it may be because you've donated with a different email. You can change your donation email in your Personal Info section.
    </p>
    <p>
      Other questions: <a href="/support/faq/">Check out our FAQs</a><br/>
      Or contact us: <a href="/contact">wnyc.org/contact</a> or 646-829-4000
    </p>
    {{/m.body}}
    {{#m.footer}}
      <button
        class="nypr-account-confirm"
        data-test-selector="confirm-disable"
        {{action (action (mut enableModal) false)}}>Got it!</button>
    {{/m.footer}}
  {{/nypr-account-modal}}
{{/if}}
