{{#nypr-card classNames="nypr-password-card" title="Password" edit=(action (mut isEditing) true)}}
  {{#unless isEditing}}
    {{nypr-input
      label='Password'
      fieldname='password'
      value='********'
      disabled=true
    }}
  {{else}}
    {{nypr-input
      label='Current Password'
      fieldname='currentPassword'
      value=changeset.currentPassword
      errors=changeset.error.currentPassword.validation
      placeholder='Enter your current password'
    }}
    {{nypr-input
      label='New Password'
      fieldname='newPassword'
      value=changeset.newPassword
      errors=changeset.error.newPassword.validation
      placeholder='Enter your new password'
    }}
  {{/unless}}

  {{#if isEditing}}
  <div class="nypr-account-footer">
    <div class="nypr-account-footer-wrapper">
      <button
        class="nypr-account-cancel"
        data-test-selector="rollback"
        {{action 'rollback' changeset}}>Cancel</button>
        
      <button
        class="nypr-account-confirm"
        data-test-selector="save"
        {{action 'save' changeset}}>Save</button>
    </div>
  </div>
  {{/if}}
{{/nypr-card}}
