{{#if connected}}

  <a class="nypr-social-connect__link" href={{manageUrl}} target="blank" rel="noopener noreferrer">Manage {{providerName}} connection</a>

{{else}}

  <button class="nypr-social-connect__button {{buttonClass}}" {{action buttonAction}}>
  {{#if providerIcon}}
    <i class="nypr-social-connect__icon fa fa-{{providerIcon}}"></i>
  {{/if}}
    Connect with {{providerName}}
  </button>

{{/if}}