{{#unless isEditing}}
  {{basic-input
    label='Name'
    fieldname='fullName'
    value=(concat basicChangeset.givenName ' ' basicChangeset.familyName)
    disabled=true
  }}
{{else}}
  {{basic-input
    label='First Name'
    placeholder='Jane'
    fieldname='givenName'
    value=basicChangeset.givenName
    errors=basicChangeset.error.givenName.validation
  }}
  {{basic-input
    label='Last Name'
    placeholder='Doe'
    fieldname='familyName'
    value=basicChangeset.familyName
    errors=basicChangeset.error.familyName.validation
  }}
{{/unless}}

{{basic-input
  label='Public Handle (visible when you comment on the site)'
  fieldname='preferredUsername'
  value=basicChangeset.preferredUsername
  errors=basicChangeset.error.preferredUsername.validation
  disabled=(not isEditing)
}}

{{basic-input
  label='Email'
  placeholder='you@mail.com'
  fieldname='email'
  value=basicChangeset.email
  errors=basicChangeset.error.email.validation
  disabled=(not isEditing)
}}
{{#if basicChangeset.change.email}}
  {{basic-input
    label='Confirm Email'
    fieldname='confirmEmail'
    placeholder='Type your new email again'
    value=basicChangeset.confirmEmail
    errors=basicChangeset.error.confirmEmail.validation
  }}
{{/if}}

{{#if isEditing}}
<button data-test-selector="rollback" {{action 'rollback' basicChangeset}}>Cancel</button>
<button data-test-selector="save" {{action 'save' basicChangeset}}>Save</button>
{{/if}}
