{{#unless isEditing}}
  {{basic-input
    label='Name'
    fieldname='fullName'
    value=(concat basicChangeset.givenName ' ' basicChangeset.familyName)
    disabled=true
  }}
{{else}}
  {{basic-input
    label='First Name'
    placeholder='Jane'
    fieldname='givenName'
    value=basicChangeset.givenName
    errors=basicChangeset.error.givenName.validation
    disabled=false
  }}
  {{basic-input
    label='Last Name'
    placeholder='Doe'
    fieldname='familyName'
    value=basicChangeset.familyName
    errors=basicChangeset.error.familyName.validation
    disabled=false
  }}
{{/unless}}

{{basic-input
  label='Username'
  fieldname='preferredUsername'
  value=basicChangeset.preferredUsername
  errors=basicChangeset.error.preferredUsername.validation
  disabled=(not isEditing)
}}

{{#unless isEditingEmail}}
  {{basic-input
    label='Email'
    placeholder='you@mail.com'
    fieldname='email'
    value=basicChangeset.email
    errors=basicChangeset.error.email.validation
    disabled=true
  }}
  <button
    data-test-selector="change-email"
    {{action (action (mut isEditingEmail) true)}}>
      Change Email
  </button>
{{else}}
  {{basic-input
    label='Email'
    fieldname='email'
    value=basicChangeset.email
    errors=basicChangeset.error.email.validation
    disabled=false
  }}
  {{basic-input
    label='Confirm Email'
    fieldname='confirmEmail'
    placeholder='Type email again'
    value=basicChangeset.confirmEmail
    errors=basicChangeset.error.confirmEmail.validation
    disabled=false
  }}
{{/unless}}

{{#unless isEditing}}
  {{basic-input
    label='Password'
    fieldname='password'
    value='******'
    disabled=true
  }}
{{else}}
  {{#unless isEditingPassword}}
    <button
      data-test-selector="change-pw"
      {{action (action (mut isEditingPassword) true)}}>
        Change Password
    </button>
  {{else}}
    {{basic-input
      label='Old Password'
      fieldname='oldPassword'
      placeholder='Enter your current password'
      value=pwChangeset.oldPassword
      errors=pwChangeset.error.oldPassword.validation
      disabled=false
    }}
    {{basic-input
      label='New Password'
      fieldname='newPassword'
      placeholder='Enter your new password'
      value=pwChangeset.newPassword
      errors=pwChangeset.error.newPassword.validation
      disabled=false
    }}
  {{/unless}}
{{/unless}}

{{#if isEditing}}
<button data-test-selector="rollback" {{action 'rollback' basicChangeset pwChangeset}}>Cancel</button>
<button data-test-selector="save" {{action 'save' basicChangeset pwChangeset}}>Save</button>
{{/if}}
