{{#unless isEditing}}
  {{nypr-input
    label='Password'
    fieldname='password'
    value='********'
    disabled=true
  }}
{{else}}
  {{nypr-input
    label='Current Password'
    fieldname='currentPassword'
    value=changeset.currentPassword
    errors=changeset.error.currentPassword.validation
  }}
  {{nypr-input
    label='New Password'
    fieldname='newPassword'
    value=changeset.newPassword
    errors=changeset.error.newPassword.validation
  }}
{{/unless}}

{{#if isEditing}}
<button data-test-selector="rollback" {{action 'rollback' changeset}}>Cancel</button>
<button data-test-selector="save" {{action 'save' changeset}}>Save</button>
{{/if}}
