<div class="l-gray">
  <div class="l-constrained">
    <div class="nypr-account-settings-header">
      <h1>Hi {{model.user.givenName}}!</h1>
      {{#if membershipStartDate}}
        <h3>Member since {{moment-format membershipStartDate 'MMMM YYYY'}}</h3>
      {{/if}}
      <h2>Account Settings</h2>
    </div>
    <div class="nypr-account-settings-and-member-center">
      <div class="nypr-account-settings-body">
        {{nypr-accounts/basic-card
          user=model.user
          authenticate=(action authenticate)}}
        {{nypr-accounts/password-card}}
      </div>
      {{nypr-accounts/membership-card/index
        status=model.membershipStatus
        pledges=pledges
        class='nypr-membership-info-body'}}
    </div>

  </div>
</div>
